# Visual Studio build & temp files
.vs/
x64/
Debug/
Release/
*.user
*.suo
*.db
*.ipch

#VS Code settings and debug config
.vscode/

# CMake build folders
build/
out/

# Compiled Executables & Objects
*.exe
*.obj
*.o